<h1>Hello {{ name }}</h1>

<a logout href="/auth/logout">Logout</a>

<div class="d-flex">
  <a class="btn btn-sm btn-primary pl-5 pr-5 ml-3 mr-3" href='/add'>Add a Goal</a>
  {{#if goals_present}}
  <button
    class="btn btn-sm btn-danger pl-5 pr-5 ml-3 mr-3"
    onclick="delete_all_conf()"
  >
    Delete All
  </button>
  {{/if}}
</div>
<hr class="mt-2 mb-1">

{{#unless goals_present}}
<h4 class="text-warning text-center mt-5">
  No goals.
  Please add.
</h4>
{{/unless}}

<div class="goals">
{{#each goals}}
<div class="card">
  <div class="card-body">
    <h6 class="card-title">{{title}}</h6>
    <p class="card-text">
      {{shortenDescription description}}
    </p>
    <a
      href="#"
      class="card-link"
      data-toggle="modal"
      data-target="#more-details"
      data-whatever="{{_id}}"
    >
      More details...
    </a>
  </div>
</div>
{{/each}}
</div><!--goals-->


<!-- delete all confirmation -->
<div
  id="delete-alert"
  class="alert alert-danger"
  role="alert"
>
  <h4 class="alert-heading">Are you sure!</h4>
  <p>Do you really want to delete all your goals</p>
  <hr>
  <div class="d-flex justify-content-around">
    <button
      class="btn btn-sm btn-secondary pl-5 pr-5 ml-3 mr-3"
      onclick="delete_all_no()"
    >
      No
    </button>
    <button
      class="btn btn-sm btn-danger pl-5 pr-5 ml-3 mr-3"
      onclick="delete_all_true()"
    >
      Yes
    </button>
  </div>
</div>

<div
  class="alert alert-success"
  id="deleted-goals"
  role="alert"
>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="more-details"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Description</h6>
        <div class="view-body"></div>
        <br />
        <span class="created"></span>
        <br />
        <p class="done"></p>
        <a
          type="button"
          class="btn btn-primary mark_as_done mr-5 text-white"
          done
          id
        >
        </a>
      </div>
      <div class="modal-footer">
        <a
          type="button"
          class="btn btn-warning edit"
        >
          Edit
        </a>
        <a
          type="button"
          class="btn btn-danger delete"
        >
          Delete
        </a>
        <a
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </a>
      </div>
    </div>
  </div>
</div>
