{{#each goal}}
<h1>update</h1>
<form action="/update" method="POST">
  <input
    name="title"
    id="title"
    type="text"
    value="{{title}}"
  />
  <input
    name="id"
    id="id"
    value="{{_id}}"
  />
  <input type='submit' value="update"/>
</form>
{{/each}}

<h1>{{title}} {{update}}</h1>
{{#if update}}
<a href="/">go back</a>
{{/if}}